{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
    <section class="h-full flex items-center justify-center">
        <div class="w-full max-w-md bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-6">
                <h1 class="text-xl font-bold text-center text-gray-900 dark:text-white">
                    Changer votre mot de passe
                </h1>

                <form method="post" class="space-y-4">
                    {{ form_start(reset_password_form) }}
                    {{ form_widget(reset_password_form) }}

                    <p class="mt-2 text-xs text-gray-600 dark:text-gray-400">
                        Le mot de passe doit contenir :
                        <ul class="list-disc list-inside text-xs">
                            <li>Au moins 8 caractères</li>
                            <li>Une lettre majuscule</li>
                            <li>Une lettre minuscule</li>
                            <li>Un chiffre</li>
                            <li>Un caractère spécial</li>
                        </ul>
                    </p>

                    <button type="submit" class="w-full text-white bg-primary hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-primary-light font-medium rounded-lg text-sm px-5 py-2.5">
                        Changer le mot de passe
                    </button>
                    {{ form_end(reset_password_form) }}
                </form>

                <div class="text-sm text-center text-gray-700 dark:text-gray-300">
                    <a href="{{ path('app_login') }}" class="text-blue-500 hover:underline dark:text-primary-400">
                        Retour à la connexion
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
