{# templates/base/head.html.twig #}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}W4-School{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</head>
