{# templates/base/header.html.twig #}
<header>
    <div>
        <img src="{{ asset('images/logo.png') }}" alt="Mon Blog" class="logo" />
        <h1 style="margin: 0;">Mon Blog</h1>
    </div>
</header>
